.DS_Store
.idea
tmp
result
node_modules
bin
*.iml
Generated
dist
dist-newstyle
*.dyn_hi
*.dyn_o
*.hi
*.o
build
gen
del
static/prod.*
Config/client_session_key.aes

# Ignore locally checked out IHP version
IHP

static/app.css

static/articles
static/paragraph_quotes

# @todo: Fix the creation of duplicates
static/styleGuideImages/imageStyles

Application/Migration

# JWT
Config/jwtRS256.key*

# devenv
.devenv*
devenv.local.nix
.direnv
.env
